<div class="right_col mt-sm-3" role="main">
  <div class="max-w-1440">
    <div class="back-page">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/learning-content">Learning Content List</a>
        </li>
        <li class="breadcrumb-item active"><%=learningContent.title%></li>
      </ol>
    </div>
    <div class="card-block">
      <% if(loggedUserRole==1 || loggedUserRole==4){ %>
      <div class="filter_top">
        <form action="/learning-content/<%=learningContent.slug%>/lessons/store" method="post" id="lessonForm">
          <input type="hidden" name="contentSlug" id="content-slug" value="<%=learningContent.slug%>" />
          <ul class="filter-row flex-sm-row tab_justify_between">
            <li class="filter-col">
              <input type="text" class="form-control" name="title" id="title" placeholder="Enter Lesson Name" />
            </li>
            <li class="filter-col mob-w-auto flex-shrink-0">
              <button type="submit" class="btn theme-btn addLesson" id="lessonCrudBtn">
                Save Lesson
              </button>
            </li>
          </ul>
        </form>
      </div>
      <% } %>

      <div class="flex-panel">
        <div class="setting_voucher">
          <h2 class="title-text mb-0">Lessons List</h2>
          <h6 class="mb-0"><span class="total-count">Total Lessons: <span class="total-count-number"><%=totalLessons%></span></span></h6>
        </div>
        <div class="course-search">
          <div class="input-group mb-0 input-search">
            <input type="search" name="search" id="searchString" class="form-control filter" placeholder="Search..." autocomplete="off" />
            <span class="input-group-btn">
              <button class="btn" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="lessons_list">
        <div class="row">
          <div class="col-sm-12 p-0" id="myContent">
            <div class="course-list mt-0 sortable clearfix row-gap-20 d-flex flex-wrap"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./index_script'); %>
