<style>
  .select2-results__message {
    padding: 0 !important;
  }
</style>

<div class="right_col" role="main">
  <div class="max-w-1440">
    <div class="bussniess_setting">
      <a class="back-link" href="<%= (studentId) ? '/families-invoices/family/'+ studentId +'#account' : '/families-invoices#FamilyAccounts' %>"><span class="fa fa-chevron-left mr-2"></span>Back to Family Accounts</a>
      <h2 class="title-text mt-3 mb-4 size-22">Add Transaction</h2>
      <div class="row row-gap-30">
        <!-- Transaction Types -->
        <%- include('./partials/transaction_types',{ transactionTypes: transactionTypes }); %>

        <div class="col-xl-9 col-lg-8">
          <div class="card">
            <div class="card-body settings_content">
              <h2 class="title-text mb-4" id="transactionHeading">Payment Transaction</h2>
              <div class="form-wizard">
                <form id="add-transaction-form" method="post" action="/families-invoices/transaction/store" class="form-design" autocomplete="off">

                    <!-- Add the hidden redirect_to field HERE, before including the partial -->
                  <input type="hidden" name="redirect_to" 
                        value="<%= studentId ? `/families-invoices/family/${studentId}` : '/families-invoices' %>">
                  
                  <%- include('./partials/_form',{ studentId:studentId, families: families, recurringFrequency: recurringFrequency, repeatDays: repeatDays, taxes: taxes, chargeCategories: chargeCategories, formType: 'edit',transaction_type: null, transaction: null }); %>

                  <div>
                    <input type="hidden" name="transaction_type" id="transaction_type">
                    <button type="submit" class="btn theme-btn" id="submit_form">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="modal-header">
      <h5 class="setting_title"></h5>
    </div>
    <div class="modal-body">
    </div> -->
  </div>
</div>
<%- include('./form_script'); %>

<script>
  toggleRepeatOn();
  toggleRepeatUntil();
</script>