<div class="right_col" role="main">
  <!-- student page content starts -->
  <div class="row main_row">
    <div class="x_panel form_panel">
      <div class="x_title">
        <h2 class="title-text">Add Student</h2>
      </div>
      <div class="x_content">
        <form id="createStudent" action="./store" method="post" class="form-horizontal form-label-left">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="title">Title</label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/student.svg" class="mCS_img_loaded"></span> -->
                      <select class="form-control select2" name="title" id="title" tabindex="-1" single>
                        <option value="">Select Title</option>
                        <option value="Mr">Mr</option>
                        <option value="Ms">Ms</option>
                        <option value="Mrs">Mrs</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="first_name">First Name<span class="required">*</span>
                    </label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/student.svg" class="mCS_img_loaded"></span> -->
                      <input type="text" name="first_name" class="form-control" placeholder="Enter First Name.."
                        id="first_name" maxlength="50">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="last_name">Last Name<span class="required">*</span>
                    </label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/student.svg" class="mCS_img_loaded"></span> -->
                      <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name.."
                        id="last_name" maxlength="50">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="phone">Contact No</label>
                    <div class="phone-group">
                      <input type="hidden" name="dial_code" id="dial_code">
                      <input type="hidden" name="iso_code" id="iso_code">
                      <input type="number" name="phone" class="form-control " id="phone" placeholder="Enter contact number">
                      <p id="error-msg" class="hide"></p>
                    </div>
                    <div class="common-checkbox mt-2 d-inline-block position-relative panel_checkbox_label">
                      <input type="checkbox" class="form-check-input" id="send_sms" name="send_sms" value="1">
                      <label class="form-check-label" for="send_sms">SMS Capable</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="email">Email Address 
                    </label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/email.svg" class="mCS_img_loaded"></span> -->
                      <input type="email" autocomplete="no-email" name="email" class="form-control"
                        placeholder="Enter Email.." id="email">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="email">NDIS
                    </label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/classes.svg" class="mCS_img_loaded"></span> -->
                      <input type="text" autocomplete="no-email" name="ndis_number" class="form-control"
                        placeholder="Enter NDIS No.." id="ndis_number">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="password">Password<span
                        class="required">*</span>
                    </label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/lock.svg" class="mCS_img_loaded"></span> -->
                      <input type="password" name="password" class="form-control" placeholder="Enter Password.."
                        id="password" autocomplete="new-password">
                      <span toggle="#password"
                        class="fa fa-fw fa-eye-slash field-icon form-control-feedback right toggle-password"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="gender">Gender<span class="required">*</span></label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/gender.svg" class="mCS_img_loaded"></span> -->
                      <select class="form-control select2" name="gender" id="gender">
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="gender">Time Zone<span
                        class="required">*</span></label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/gender.svg" class="mCS_img_loaded"></span> -->
                      <select class="form-control select2" name="time_zone" id="time_zone">
                        <% for(let timeZone of timeZones) { %>
                          <option value="<%=timeZone.tzid%>">
                            <%=timeZone.name%>
                          </option>
                          <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="birth_day">Birthday</label>
                    <div class="input-group" style="position: relative;">
                      <!-- <span class="input-group-text"><img src="/images/date.svg" class="mCS_img_loaded"></span> -->
                      <input type="date" name="birth_day" class="form-control date-hide" max="<%=moment().format('YYYY-MM-D');%>"
                        id="birth_day">
                      <!-- <span class="date-overlay" aria-hidden="true">DD/MM/YYYY</span> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="grade">Grade<span class="required">*</span></label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/level.svg" class="mCS_img_loaded"></span> -->
                      <select class="form-control select2" name="grade_id" id="grade_id">
                        <option value="">Select Grade</option>
                        <% for(Grade of grade){%>
                          <option value="<%=Grade.id%>">
                            <%=Grade.name%>
                          </option>
                          <%}%>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="school">School</label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/school.svg" class="mCS_img_loaded"></span> -->
                      <select class="form-control select2" name="school_id" id="school_id">
                        <option value="">Select School</option>
                        <% for(school of data) { %>
                          <option value="<%=school.id%>">
                            <%=school.name%>
                          </option>
                          <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="group_tag_id">Group Tag</label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/school.svg" class="mCS_img_loaded"></span> -->
                      <select class="form-control select2" name="group_tag_id" id="group_tag_id">
                        <option value="">Select Group Tag</option>
                        <% for(groupTag of groupTags) { %>
                          <option value="<%=groupTag._id%>">
                            <%=groupTag.name%>
                          </option>
                          <% } %>
                      </select>
                    </div>
                    <a href="/group-tags" target="_blank" rel="noopener noreferrer" class="btn btn-link btn-sm mt-1 text_link_orange">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M18 19H6C5.45 19 5 18.55 5 18V6C5 5.45 5.45 5 6 5H11C11.55 5 12 4.55 12 4C12 3.45 11.55 3 11 3H5C3.89 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V13C21 12.45 20.55 12 20 12C19.45 12 19 12.45 19 13V18C19 18.55 18.55 19 18 19ZM14 4C14 4.55 14.45 5 15 5H17.59L8.46 14.13C8.07 14.52 8.07 15.15 8.46 15.54C8.85 15.93 9.48 15.93 9.87 15.54L19 6.41V9C19 9.55 19.45 10 20 10C20.55 10 21 9.55 21 9V4C21 3.45 20.55 3 20 3H15C14.45 3 14 3.45 14 4Z"></path> </svg>
                      Go to Group Tags</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="referrer">Referrer</label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/referrer.svg" class="mCS_img_loaded"></span> -->
                      <input type="text" name="referrer" class="form-control " placeholder="Referrer.." id="referrer">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-labellabel-align" for="status">Status<span class="required">*</span>
                    </label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/status.svg" class="mCS_img_loaded filter_revert"></span> -->
                      <select class="form-control select2" name="status" id="status">
                         <option value="1">Activate</option>
                         <option value="2">Trial</option>
                         <option value="3">Waiting</option>
                         <option value="0">Deactivate</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="start_date">Start Date
                    </label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/date.svg" class="mCS_img_loaded"></span> -->
                      <input type="date" name="start_date" class="form-control date-hide"
                        id="start_date">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="end_date">End Date
                    </label>
                    <div class="input-group">
                      <!-- <span class="input-group-text"><img src="/images/date.svg" class="mCS_img_loaded"></span> -->
                      <input type="date" name="end_date" min="<%=moment().format('YYYY-MM-D');%>" class="form-control date-hide"
                        id="end_date">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="title-text mb-0">Assign Tutor</h2>
                    <button type="button" id="toggleTutorSection" class="btn gray-btn form-button">Assign
                      Tutor</button>
                    <button type="button" id="collapseTutorSection" class="btn btn-danger gray-btn dele_btn d-none">Delete</button>
                  </div>
                </div>

                <!-- Collapsible Tutor Assignment Section -->
                <div id="tutorSection" class="collapse-section d-none col-md-12">
                  <input type="hidden" name="assign_tutor" id="assign_tutor" value="false">
                  <div class="row">
                    <!-- Tutors -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label label-align" for="tutor_id">Tutors <span
                            class="required">*</span></label>
                        <div class="input-group">
                          <!-- <span class="input-group-text"><img src="/images/student.svg" /></span> -->
                          <select class="form-control select2" name="tutor_id" id="tutor_id">
                            <option value="">Select A Tutor</option>
                            <% for (let tutor of tutors) { %>
                              <option value="<%= tutor.id %>">
                                <%= tutor.first_name + ' ' + tutor.last_name %>
                              </option>
                              <% } %>
                          </select>
                        </div>
                      </div>
                    </div>

                    <!-- Category -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label label-align" for="default_lesson_category">Category <span
                            class="required">*</span></label>
                        <div class="input-group">
                          <!-- <span class="input-group-text"><img src="/images/student.svg" /></span> -->
                          <select class="form-control select2" name="default_lesson_category" id="default_lesson_category">
                            <option value="">Select Category</option>
                            <% for (let cat of categories) { %>
                              <option value="<%= cat._id %>">
                                <%= cat.name %>
                              </option>
                              <% } %>
                          </select>
                        </div>
                      </div>
                    </div>

                    <!-- Duration -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label label-align" for="default_duration">Default Duration <span
                            class="required">*</span></label>
                        <div class="input-group">
                          <!-- <span class="input-group-text"><img src="/images/classes.svg" /></span> -->
                          <input type="text" name="default_duration" class="form-control"
                            placeholder="Enter duration..." id="default_duration" />
                        </div>
                      </div>
                    </div>

                    <!-- Price -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label label-align" for="default_price">Price <span
                            class="required">*</span></label>
                        <div class="input-group">
                          <!-- <span class="input-group-text"><img src="/images/classes.svg" /></span> -->
                          <input type="text" name="default_price" class="form-control" placeholder="Enter price"
                            id="default_price" autocomplete="off" />
                        </div>
                      </div>
                    </div>

                    <!-- Billing -->
                    <div class="col-md-12">
                      <div class="form-group pb-2">
                        <label class="col-form-label label-align">Default Billing</label>
                        <ul class="settinglist mt-0">
                          <% const billing=[ { id: 'no_calendar_generated_charges' ,
                            value: 'no_calendar_generated_charges' ,
                            label: "Don't automatically create any calendar-generated charges" }, {
                            id: 'lesson_based_payment' , value: 'lesson_based_payment' ,
                            label: 'Student pays based on the number of lessons taken' }, { id: 'fixed_monthly_payment'
                            , value: 'fixed_monthly_payment' ,
                            label: 'Student pays the same amount each month regardless of number of lessons' }, {
                            id: 'hourly_rate_payment' , value: 'hourly_rate_payment' ,
                            label: 'Student pays an hourly rate' ,
                            note: 'Charges will automatically adjust to lesson duration' } ]; %>

                            <% billing.forEach(bill=> { %>
                              <li class="w-100">
                                <div class="form-check">
                                  <input type="radio" name="default_billing" value="<%= bill.value %>"
                                    id="<%= bill.id %>" class="form-check-input">
                                  <label class="form-check-label" for="<%= bill.id %>">
                                    <%= bill.label %>
                                      <% if (bill.note) { %>
                                        <small class="d-block text-muted">
                                          <%= bill.note %>
                                        </small>
                                        <% } %>
                                  </label>
                                </div>
                              </li>
                              <% }); %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="col-form-label label-align" for="notes">Notes </label>
                    <textarea name="note" rows="5" class="form-control" placeholder="Enter Notes.."
                      id="notes"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group drop-file">
                <label class="col-form-label label-align" for="profile_image">Profile Image</label>
                <input type="file" name="profile_image" id="profile_image" class="form-control dropify h-auto">
              </div>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="text-right">
            <button type="submit" id="storeStudentBtn" class="btn theme-btn form-button">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- student page content end -->
</div>

<%- include('./form_script'); %>

  <script type="text/javascript">
    $("#createStudent").submit(function (e) {
      e.preventDefault();
      $(document).find("span.text-danger").remove();
      var form = $('#createStudent');
      var formData = new FormData(form[0]);
      
      var url = $('#createStudent').attr('action');
      
      $.ajax({
        type: "POST",
        url: url,
        dataType: "json",
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          if (response.success == true) {
            window.location = response.redirectUrl;
          }
        },
        error: function (response) {
          let errorMessages = '';
          $.each(response.responseJSON.errors, function (field_name, error) {
            $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
          })
        },
        complete: function () {
        }
      })
    });

    $("#start_date").change(function () {
      let startDate = $(this).val();
      $("#end_date").val('');
      $("#end_date").attr('min', startDate);
    });
    $("#end_date").change(function () {
      let startDate = $(this).val();
      $("#start_date").attr('max', startDate);
    })
  </script>

<script>
  $(document).ready(function () {
    $('#toggleTutorSection').on('click', function () {
      $('#tutorSection').removeClass('d-none');  
       $('#assign_tutor').val('true');       
      $(this).addClass('d-none');                       
      $('#collapseTutorSection').removeClass('d-none'); 
    });

    $('#collapseTutorSection').on('click', function () {
      $('#tutorSection').addClass('d-none');  
       $('#assign_tutor').val('false');           
      $(this).addClass('d-none');                      
      $('#toggleTutorSection').removeClass('d-none'); 

      $('#tutorSection').find('.text-danger, .help-block.text-danger').remove();
    });

    function refreshGroupTags() {
        const $dropdown = $('#group_tag_id');
        const currentValue = $dropdown.val();

        $.get(window.location.href + '?_=' + Date.now(), function (html) {

            const newOptions = $('<div>').html(html).find('#group_tag_id').html();

            if (newOptions) {
                $dropdown.html(newOptions);

                if (currentValue && $dropdown.find(`option[value="${currentValue}"]`).length) {
                    $dropdown.val(currentValue);
                }

                $dropdown.trigger('change');
            }
        });
    }

    // refresh when user comes back from another tab/page
    $(window).on('focus', function () {
        refreshGroupTags();
    });
  });
</script>

<script>
  document.querySelectorAll(".date-hide").forEach(function(input) {
    const span = document.createElement("span");
    span.className = "date-overlay";
    span.textContent = "DD/MM/YYYY";

    input.parentNode.style.position = "relative";
    input.parentNode.appendChild(span);

    function update() {
        if (!input.value) {
            span.textContent = "DD/MM/YYYY";
            return;
        }

        const [y, m, d] = input.value.split("-");
        span.textContent = `${d}/${m}/${y}`;
    }
    input.addEventListener("change", update);
    update();
});
</script>

