<div class="col-md-12 col-lg-6">
    <div class="lesson_card" data-link="/learning-content/<%=learningContentSlug%>/lessons/<%=lesson.slug%>" data-title="<%=lesson.title%>" data-lesson-id="<%=lesson.id%>"data-completed="" data-id="<%=assessmentId%>"> 
        <div class="floder-icon icon-wrapper file-icon"> 
            <img src="/images/folder-icon.svg" alt="icon"> 
        </div>
        <div class="lesson_descp"> 
            <h3 class="title-text text-space-normal"><%=lesson.title%></h3>
            <p>Practices : <strong class="totalPractices"><%=totalPractices%></strong></p>
            <p>Challenges : <strong class="totalChallenges"><%=totalChallenges%></strong></p>
        </div>
        <!-- <div class="floder-icon spring-icon-wrap mr-0"> 
            <%=attemptedTaskStatus%>%
        </div> -->
    </div>
</div>