<!-- lesson row content starts -->
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 lesson-grid" data-lesson-id="<%=lesson.id%>"
    data-position="<%=count%>">
    <div class="lesson_card">
        <div class="floder-icon">
            <img src="/images/folder-icon.svg" alt="icon">
        </div>
        <div class="lesson_descp">
            <h3 class="title-text">
                <%=lesson.title%>
            </h3>
            <p>Information Slides : <strong>
                    <%=totalSlides%>
                </strong></p>
            <p>Practices : <strong>
                    <%=totalPractices%>
                </strong></p>
            <p>Challenges : <strong>
                    <%=totalChallenges%>
                </strong></p>
        </div>
        <div class="dropdown">
            <a class="actiondrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/images/menudots.svg" alt="icon"> </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="/learning-content/<%=contentSlug%>/lessons/<%=lesson.slug%><%=(programId)?'/program':''%>/<%=lesson.id%>/<%=programId%>" style="cursor:pointer;"
                    class="editLesson" data-title="<%=lesson.title%>" data-id="<%=lesson.id%>" data-toggle="tooltip"
                    rel="tooltip" data-placement="top" title="view">View Content</a>
                <!-- for role 4 -->
                <% if(loggedUserRole==1 || loggedUserRole==4){ %>
                    <a class="editLesson" data-title="<%=lesson.title%>" data-id="<%=lesson.id%>" data-toggle="tooltip"
                        rel="tooltip" data-placement="top" title="Edit">Rename Lesson</a>
                    <a href="javascript:void(0)" class="lesson-duplication" data-content-slug="<%=contentSlug%>" data-lesson-id="<%=lesson.id%>" data-lesson-name="<%=lesson.title%>">Duplicate Lesson</a>
                   
                    <a class="text-red" href="javascript:void(0)"
                        onclick="confirmBeforeDeletion('/learning-content/<%=contentSlug%>/lessons/destroy/<%=lesson.id%>')">Delete
                        Lesson</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
</div>
<!-- lesson row content end -->
