<style>
  .select2-results__message {
    padding: 0 !important;
  }
</style>

<div class="right_col" role="main">
  <div class="max-w-1440">
    <div class="bussniess_setting">
      <% if(tutorId && tutorId !== 'undefined'){ %>
        <a class="back-link" href="/staff-invoices/staff/<%= tutorId %>#account">
          <span class="fa fa-chevron-left mr-2"></span>Back to Staff Invoices
        </a>
      <% } else { %>
        <a class="back-link" href="/staff-invoices/#staffAccounts">
          <span class="fa fa-chevron-left mr-2"></span>Back to Staff Invoices
        </a>
      <% } %>
    </div>

      <h2 class="title-text mt-3 mb-4 size-22">Add Transaction</h2>
      <div class="row row-gap-30">
        <!-- Transaction Types -->
        <%- include('./partials/transaction_types',{ transactionTypes: transactionTypes }); %>

        <div class="col-xl-9 col-lg-8">
          <div class="card card_style">
            <div class="card-body settings_content">
              <h2 class="title-text mb-4" id="transactionHeading">Payment Transaction</h2>
              <div class="form-wizard">
                <form id="add-transaction-form" method="post" action="/staff-invoices/transaction/store" class="form-design" autocomplete="off">
                  <input type="hidden" name="redirect_to" value="<%= tutorId ? `/staff-invoices/staff/${tutorId}` : '/staff-invoices' %>">
                  
                  <%- include('./partials/_form',{ tutorId:tutorId, recurringFrequency: recurringFrequency, repeatDays: repeatDays, taxes: taxes, chargeCategories: chargeCategories, formType: 'edit',transaction_type: null, transaction: null }); %>

                  <div>
                    <input type="hidden" name="transaction_type" id="transaction_type">
                    <button type="submit" class="btn theme-btn" id="submit_form">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./form_script'); %>

<script>
  toggleRepeatOn();
  toggleRepeatUntil();
</script>