<div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-email-tab">
    <div class="row row-gap-20 mx-0">
        <div class="col-12 px-0">
            <div class="card tabcard">
                <div class="card-body">
                <h3 class="setting_title">Email Settings <span class="editsetting"><img src="/images/edit.svg" alt=""></span></h3>
                <form class="notification" id="email-setting">
                    <div class="settings">
                        <div class="row mx-0 row-gap-20">
                        <div class="col-xl-6 col-lg-12 col-md-6 px-0 pr-md-3">
                            <div class="row mx-0 row-gap-20">
                                <div class="col-12 px-0">
                                    <h6 class="setting_name">Business Email Address</h6>
                                    <div class="form-areablock">
                                        <input type="email" name="primary_email" id="business-email" class="event-schedule-input-group" value="<%=businessSetting?.primary_email%>" placeholder="Business Name.." required disabled>
                                    </div>
                                </div>
                                <div class="col-12 px-0">
                                    <h6 class="setting_name">Email Options</h6>
                                    <ul class="settinglist flex-column align-items-start mt-0">
                                        <li>
                                            <div class="form-group form-check">
                                                <input type="checkbox" name="send_birthday_email" class="form-check-input event-schedule-input-group" <% if (businessSetting?.notification_settings[0].send_birthday_email == true) { %> checked <% } %> id="send_birthday_email" disabled>
                                                <label class="form-check-label" for="send_birthday_email">Send birthday emails</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6 px-0">
                            <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                                <div class="emaildetails_card">
                                <h6 class="setting_name"><%=businessSetting?.primary_email%> - Business Email</h6>
                                <ul class="list">
                                    <li><span class="iconimg"><img src="/images/info-icon.svg" alt=""></span>Public Email Provider</li>
                                    <li>behalf using <%=businessSetting?.name%></li>
                                </ul>
                                <ul class="list">
                                    <li><span class="iconimg"><img src="/images/mailicon.svg" alt=""></span>From: <%=businessSetting?.name%> &lt;<%=businessSetting?.primary_email%>&gt;</li>
                                    <li><span class="iconimg"><img src="/images/reply-icon.svg" alt=""></span>Reply-To: <%=businessSetting?.name%> &lt;<%=businessSetting?.primary_email%>&gt;</li>
                                </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-12 px-0 text-right btngroup ln_solidGroup">
                            <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                            <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 px-0">
            <div class="card tabcard">
                <div class="card-body">
                    <h3 class="setting_title">System Email Templates</h3>
                    <div class="settings">
                        <div class="row mx-0 row-gap-20">
                        <% for(let email of emailTemplates) { %>
                        <div class="col-12 px-0">
                            <h6 class="setting_name emailtemplate">
                                <span><img src="/images/email-icon.svg" alt="icon"></span><%=email.title%>
                                <span class="edit" data-toggle="modal" data-target="#systemEmail"  data-id="<%=email.id%>"><img src="/images/edit.svg" alt="icon"></span>
                                <!-- <span class="delete" data-toggle="modal" onclick="confirmBeforeDeletion('/business-settings/destroy-template/<%=email.id%>')"><img src="/images/trash.svg" alt="icon"></span> -->
                            </h6>
                        </div>
                        <% } %>
                        <div class="col-12 px-0 text-right btngroup">
                            <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                            <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 px-0">
            <div class="card tabcard">
                <div class="card-body">
                    <h3 class="setting_title">System SMS Templates</h3>
                    <div class="settings">
                        <div class="row mx-0 row-gap-20">
                            <%
                             for(let sms of smsTemplates) { %>
                                <div class="col-12 px-0">
                                    <h6 class="setting_name emailtemplate">
                                        <span><img src="/images/email-icon.svg" alt="icon"></span><%=sms.title%>
                                        <span class="edit" data-toggle="modal" data-target="#systemSMS"  data-id="<%=sms.id%>"><img src="/images/edit.svg" alt="icon"></span>
                                        <span class="delete" data-toggle="modal" data-id="<%=sms.id%>" onclick="confirmBeforeDeletion('/business-settings/destroy-template/<%=sms.id%>')"><img src="/images/trash.svg" alt="icon"></span>
                                    </h6>
                                </div>
                            <% } %>
                            <div class="col-12 px-0 text-right btngroup">
                                <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                                <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 px-0">
            <div class="card tabcard">
                <div class="card-body">
                    <h3 class="setting_title flex-column align-items-start">Custom Email Templates</h3>
                    <p>Create email templates that you can use when manually sending a new email. For example: A welcome email to send new students.</p>
                    <div class="settings">
                        <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0 d-flex flex-column row-gap-20">
                                <% if (emailTemplates.length===0) { %>
                                    <h6 class="setting_name">
                                        <span class="subtitle">There are no custom email templates.</span>
                                    </h6>
                                    <% } %>
                                <!-- <h6 class="setting_name"><span class="subtitle">There are no custom email templates.</span></h6> -->
                                <div class="emailbtn">
                                    <button type="button" class="btn form-button theme-btn" onclick="openCustomModal('customEmail')">Add New Custom Email Template</button>
                                    <button type="button" class="btn form-button theme-btn" onclick="openCustomModal('customSMS')">Add New Custom SMS Template</button>
                                </div>
                            </div>
                            <div class="col-12 px-0 text-right btngroup ln_solidGroup">
                                <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                                <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>