<div class="right_col mt-sm-3" role="main">
  <div class="max-w-1440">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="stcard-box">
              <span class="shade5"><%=subTopicObject.total%></span>
              <h3 class="title-text mb-0">Total </h3>
              <img src="/images/favicon-32x32.png" class="hidden-bg">
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="stcard-box">
              <span class="shade1"><%=subTopicObject.active%></span>
              <h3 class="title-text mb-0">Active</h3>
              <img src="/images/favicon-32x32.png" class="hidden-bg">
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="stcard-box">
              <span class="shade3"><%=subTopicObject.deactive%></span>
              <h3 class="title-text mb-0">Deactive</h3>
              <img src="/images/favicon-32x32.png" class="hidden-bg">
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="filter_top">
            <h3 class="title-text">Filter Sub Topics</h3>
            <ul class="filter-row">
              <li class="filter-col">
                <select class="form-control" id="mainTopic" tabindex="-1" single>
                  <option value="">Select Main Topic</option>
                  <% for(topic of topics) { %>
                    <option value="<%=topic.id%>">
                      <%=topic.name%>
                    </option>
                    <% } %>
                </select>
              </li>
              <li class="filter-col">
                <select class="form-control" id="subTopic" tabindex="-1" single>
                  <option value="">Select Sub Topic</option>
                </select>
              </li>
              <li class="filter-col">
                <select class="form-control" id="subTopic-status" tabindex="-1" single>
                  <option value="">Select Status</option>
                  <option value="1">Active</option>
                  <option value="0">Deactive</option>
                </select>
              </li>
              <li class="filter-col filter-col-btn">
                <button class="btn theme-btn filter">Filter</button>
                <button class="btn theme-btn reset">Reset</button>
              </li>
            </ul>
          </div>
          <div class="x_title tab_justify_between">
            <h2 class="title-text mb-0 tab_width_auto">Sub Topics List</h2>
            <ul class="right-btns tab_width_auto">
              <li> <a href="./sub-topics/create" class="btn theme-btn">+
                  Add Sub Topic</a>
              </li>
            </ul>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-sm-12">
                <div class="card-box table-responsive">
                  <table id="subtopicTable" class="table table-striped table-bordered dt-responsive nowrap"
                    cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Main Topic</th>
                        <th>Sub Topic</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./index_script'); %>