<div class="right_col" role="main">
    <div class="full_result_area mb-30">
        <h2 class="title-text mb-0 pr-3"></h2>
    </div>
    <div class="final-score-assessment card-block">
        <div class="back_btn">
            <a href="javascript:void(0)" onclick="window.history.back();">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" fill="none"
                    class="mr-2">
                    <path d="M7.57 0.930176L1.5 7.00018L7.57 13.0702M18.5 7.00018H1.67" stroke="#201B53"
                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Back
            </a>
        </div>
        <div class="score-panel-box text-center">
            <div class="sut-tut-name">
                <h2 class="title-text">
                    <%=tutorName%>
                </h2>
                <p class="mb-4" id="assessment-completion-date"></p>
            </div>
            <div>
                <div class="pie"
                    data-pie='{ "percent": <%=finalResult.percentage%>, "colorSlice": "rgba(244, 120, 23, 1)", "colorCircle": "rgba(255, 241, 232, 1)", "fontWeight": "600", "fill": "rgba(255, 241, 232, 1)" }'>
                </div>
            </div>
            <h3 class="title-text">Staff Assessment: <%=assessmentName%>
            </h3>
            <div class="both-scrore-pbox">
                <div class="both-score-inner">
                    <p class="questio-Plist"><span class="attemp-question">
                            <%=finalResult.totalSlidesRead%>
                        </span>/<span class="Total-question">
                            <%=finalResult.totalSlides%>
                        </span></p>
                    <p>Slides Final Score</p>
                </div>
                <div class="both-score-inner">
                    <p class="questio-Plist"><span class="attemp-question">
                            <%=finalResult.correctPractices%>
                        </span>/<span class="Total-question">
                            <%=finalResult.totalPractices%>
                        </span></p>
                    <p>Practices Final Score</p>
                </div>
            </div>
            <div class="score-panel-box-bottom">
                <p>Results break-down and analysis are available here.</p>
                <a href="/tutor-training-assessments/detailed-report/<%=assessmentId%>/tutor/<%=tutorId%>/attempted-assessment-summary"
                    class="btn theme-btn">View Staff Assessment Summary</a>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/tomik23/circular-progress-bar@latest/docs/circularProgressBar.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        const assessmentCompletionDate = "<%=assessmentCompletionDate%>";
        $('#assessment-completion-date').text(moment(assessmentCompletionDate).format('D MMMM YYYY, h:mm A'));
        $(document).on('click', '.lesson-inners', function () {
            $(this).parent(".lesson-header").next(".lesson-body").slideToggle(350);
            $(this).toggleClass("question-active");
        });
    });

    window.addEventListener("DOMContentLoaded", () => {
        const pie = document.querySelectorAll(".pie");
        const range = document.querySelector('[type="range"]');
        const elements = [].slice.call(document.querySelectorAll(".pie"));
        const circle = new CircularProgressBar("pie");

        if ("IntersectionObserver" in window) {
            const config = {
                root: null,
                rootMargin: "0px",
                threshold: 0.75
            };

            const ovserver = new IntersectionObserver((entries, observer) => {
                entries.map((entry) => {
                    if (entry.isIntersecting && entry.intersectionRatio > 0.75) {
                        circle.initial(entry.target);
                        observer.unobserve(entry.target);
                    }
                });
            }, config);

            elements.map((item) => {
                ovserver.observe(item);
            });
        } else {
            elements.map((element) => {
                circle.initial(element);
            });
        }
    });
</script>