<style>
    .courses-sidebar{
        z-index: 999;
        display: block;
    }
    .nav-md .container.body .right_col {
        margin-left: 300px;
        width: calc(100% - 300px);
    }
    .nav-sm .container.body .col-md-3.left_col {
        display: none;
    }
    .nav-sm .main_container .top_nav,
    .nav-sm .container.body .right_col{
        margin-left: 0;
    }
    .assess-back{
        background: var(--primary);
        display: block;
        padding: 12px 15px;
        color: #fff;
        font-size: 16px;
        transition: all 0.3s ease-in;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
        -webkit-align-items: center;
    }
    .assess-back .assess-back-btn{
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        color: #fff;
    }
    .assessment-time{
        font-size: 14px;
        line-height: 16px;
    }
    .assess-name-block{
        background-color: rgba(251, 232, 154, 0.1);
        padding: 20px 15px;
    }
    .assess-name-block p{
        color: var(--dblue);
    }
    .assess-main-block .card{
        margin-bottom: 2px;
    }
    .assess-main-block .card-header{
        padding: 0;
    }
    .assess-main-block .card-header .btn{
        padding: 12px 15px;
        color: var(--dblue);
        font-weight: 600;
        position: relative;
    }
    .assess-main-block .card-header .btn:hover,
    .assess-main-block .card-header .btn:focus{
        text-decoration: none;
    }
    .assess-main-block .card-header .btn>img{
        width: 35px;
        height: 35px;
    }
    .assess-main-block .card-header .btn .ac-icon{
        position: absolute;
        right: 15px;
        top: 19px;
        transition: all 350ms ease-in-out;
    }
    .assess-main-block .card-header .btn:not(.collapsed) .ac-icon{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    .assess-main-block .card-body ul li>a{
        border-bottom: 1px solid rgba(210, 214, 227, 1);
        color: var(--dblue);
        font-size: 13px;
        font-weight: 600;
        padding: 15px 38px 15px 25px;
        display: block;
        position: relative;
        transition: all 350ms ease-in-out;
    }
    .assess-main-block .card-body ul li>a::before{
        content: "";
        background: var(--secondary);
        width: 3px;
        height: 50%;
        border-radius: 10px;
        position: absolute;
        left: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 30px;
        opacity: 0;
        visibility: hidden;
        transition: all 350ms ease-in-out;
    }
    .assess-main-block .card-body ul li>a:hover,
    .assess-main-block .card-body ul li>a.active{
        background-color: rgba(254, 243, 234, 1);
    }
    .assess-main-block .card-body ul li>a:hover::before,
    .assess-main-block .card-body ul li>a.active::before{
        opacity: 1;
        visibility: visible;
    }
    .assess-main-block .card-body ul li>a .question-action{
        position: absolute;
        right: 16px;
        top: 15px;
    }
    .assess-main-block .card-body ul li:last-child>a{
        border-bottom: none;
    }
    .assess-final-area{
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .assess-final-area>h2{
        color: var(--dblue);
        font-size: 30px;
        font-weight: 600;
        margin: 0 0 10px;
        text-transform: capitalize;
    }
    .assess-final-area .assess-img-block{
        padding: 30px;
        background-color: rgba(232, 255, 238, 1);
    }
    .single-select-bbox li{
        background-color: rgba(248, 250, 251, 1);
        border: 1px solid rgba(210, 214, 227, 1);
        border-radius: 5px;
        margin-bottom: 5px;
        color: var(--dblue);
        font-weight: 600;
        padding: 12px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        gap: 8px;
    }
    .single-select-bbox li.wrong-asw{
        background-color: rgba(255, 238, 238, 1);
        border-color: rgba(255, 46, 46, 1);
    }
    .single-select-bbox li.correct-asw{
        background-color: rgba(232, 255, 238, 1);
        border-color: rgba(40, 167, 69, 1);
    }
    .single-select-bbox li .check-block{
        width: 24px;
        height: 24px;
        border: 1px solid rgba(210, 214, 227, 1);
        border-radius: 4px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        align-items: -webkit-center;
        justify-content: center;
        -webkit-justify-content: center;
    }
    .single-select-bbox li:last-child{
        margin-bottom: 0;
    }
    .menu_section {
        display: none;
    }
    .multiple-tab.card-block .unassign-content{
        justify-content: center;
    }

    @media screen and (max-width: 991px){
        .nav-sm .container.body .col-md-3.left_col{
            display: block;
        }
        .nav-md .container.body .col-md-3.left_col {
            display: none;
        }
        .nav-sm .container.body .right_col{
            margin-left: 0;
        }
        .nav-md .container.body .right_col {
            margin-left: 0px;
            width: calc(100% - 0px);
        }
        .nav-sm .main_container .top_nav {
            margin-left: 70px;
        }
        .courses-sidebar{
            padding-bottom: 50px;
        }
    }


</style>

<!-- single lesson view content -->
<div class="right_col mt-sm-3 detailed-report-summary" role="main">
    <div class="assess-name-Rblock">
        <div class="assess-Bblock">
            <h6>Assessment</h6>
            <span><%=assessmentName%></span>
        </div>
        <div class="assess-Bblock">
            <h6>Tutor</h6>
            <span><%=tutorName%></span>
        </div>
      
    </div>
    <div class="outer-element" id="fullscreen-element">
      <div class="multiple-tab card-block">
        <div class="unassign-nav">
          <span class="unassign-prev">Prev</span>
          <span class="page-count"></span>
          <span class="unassign-next">Next</span>
        </div>
        <h2 class="no-data-found text-center d-none">No Data Found.</h2>
        <div class="unassign-content"></div>
        <button id="toggle-fullscreen">Fullscreen</button>
      </div>
    </div>
</div>
<!-- Main content -->

<!-- sortable -->
<script src="https://unpkg.com/sortablejs-make/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

<!-- draggable -->
<script src="//cdn.jsdelivr.net/interact.js/1.2.8/interact.min.js"></script>

<!-- tinyMCE -->
<script src="/vendors/tinymce/tinymce.min.js"></script>

<!-- drag & drop -->
<script src="https://questioneditor.learnosity.com/?v3"></script>

<!-- dracula -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.js"></script>

<script type="text/javascript">
  const userRole = "<%=loggedUserInfo.role%>";
  const assessmentId = "<%=assessmentReportSideBarDetails.assessmentId%>";
  const tutorId = "<%=assessmentReportSideBarDetails.tutorId%>";
  let activeContentCourseId = '';
  let activeContentCourseSlug = '';
  let activeContentLessonSlug = '';
  let activeContentLessonId = '';
  let activeContentType = '';
  let activeContentId = '';
  let sliderTarget = '';
  let totalTabsOfSliderTarget = 0;
  let currentTab = 1;

    $(document).ready(function() {
        var drake = dragula({
            // options here
    });

    $('.slider-menu').click(function () {
        $('.collapse').removeClass('show');
        $($(this).data('data-target')).toggleClass('show');
        $('.active-slick-list li').removeClass('active');
        $('.active-slick-list li a').removeClass('active');
        $('.slide-action').removeClass('active-slick-list');
        activeContentType = $(this).data('type');
        sliderTarget = $(this).data('target');
        $(sliderTarget).find('.slide-action').addClass('active-slick-list');
        $('.active-slick-list li:first-child').addClass('active');
        initiatePagination(sliderTarget);
        activeContentId = $('.active-slick-list li:first-child').data('uniqueid');
        activeContentLessonId = $('.active-slick-list li:first-child').data('lessonid');
        activeContentLessonSlug = $('.active-slick-list li:first-child').data('lessonslug');
        activeContentCourseId = $('.active-slick-list li:first-child').data('learningcontentid');
        activeContentCourseSlug = $('.active-slick-list li:first-child').data('learningcontentslug');

        renderSliderContent(activeContentCourseSlug, activeContentLessonSlug, activeContentLessonId, activeContentType, activeContentId);
        });

        // Trigger the click on the first element immediately
        $('.slider-menu:first').trigger('click');
    });

    function initiatePagination(sliderTarget) {
        totalTabsOfSliderTarget  = $(sliderTarget + " .sort-slides1").length;
        currentTab = 1;
        $(".unassign-content .tab-content").first().addClass("active-tab");
        setPageCount();  
    }

    function setPageCount() {
        $(".page-count").text(currentTab + "/" + totalTabsOfSliderTarget);
    }

    function animateTabs() {
        $('.active-slick-list li').removeClass('active');
        $('.active-slick-list li a').removeClass('active');
        $('.active-slick-list li[data-position="'+currentTab+'"]').addClass('active');
        $('.active-slick-list li[data-position="'+currentTab+'"] a').addClass('active');
        activeContentId = $('.active-slick-list li.active').data('uniqueid');
        activeContentLessonId = $('.active-slick-list li.active').data('lessonid');
        activeContentLessonSlug = $('.active-slick-list li.active').data('lessonslug');
        activeContentCourseId = $('.active-slick-list li.active').data('learningcontentid');
        activeContentCourseSlug = $('.active-slick-list li.active').data('learningcontentslug');
        
        renderSliderContent(activeContentCourseSlug, activeContentLessonSlug, activeContentLessonId, activeContentType, activeContentId);
        setPageCount();
    }

    $(".unassign-next").on("click", function () {
        if (currentTab < totalTabsOfSliderTarget) {
        currentTab++;
        animateTabs();
        }
    });

    $(".unassign-prev").on("click", function () {
        if (currentTab > 1) {
        currentTab--;
        animateTabs();
        }
    });

    // full screen.
    const fullscreenElement = document.getElementById('fullscreen-element');
    const toggleFullscreenButton = document.getElementById('toggle-fullscreen');

    function toggleFullScreen() {
        if (!document.fullscreenElement) {
            fullscreenElement.requestFullscreen().catch(err => {
                console.error('Error attempting to enable fullscreen:', err);
            });
        } else {
            document.exitFullscreen();
        }
    }

    function updateButtonLabel() {
        toggleFullscreenButton.innerHTML = document.fullscreenElement ? "Exit" : "Fullscreen";
    }
    
    toggleFullscreenButton.addEventListener('click', toggleFullScreen);
    document.addEventListener('fullscreenchange', updateButtonLabel);
    document.addEventListener('keydown', event => {
        if (event.key === 'Escape') {
            toggleFullscreenButton.innerHTML = "Fullscreen";
        }
    });

    function previewDropify() {
        $(".unassign-content").find('.submit-attachment').closest('.dropify-wrapper').addClass('has-preview');
    }
</script>

<%- include('./partials/training-assessment-summary-page-script'); %>