<div class="right_col mt-sm-3" role="main">
  <div class="max-w-1440">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="stcard-box">
          <span class="shade5"><%=topicObject.total ?? '0' %></span>
          <h3 class="title-text mb-0">Total</h3>
          <img src="/images/favicon-32x32.png" class="hidden-bg">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="stcard-box">
          <span class="shade1"><%=topicObject.active ??'0' %></span>
          <h3 class="title-text mb-0">Active</h3>
          <img src="/images/favicon-32x32.png" class="hidden-bg">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="stcard-box">
          <span class="shade3"><%=topicObject.deactive ?? '0' %></span>
          <h3 class="title-text mb-0">Deactive</h3>
          <img src="/images/favicon-32x32.png" class="hidden-bg">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="filter_top">
            <h3 class="title-text">Filter Topics</h3>
            <ul class="filter-row">
              <li class="filter-col">
                <select class="form-control" id="topic-name" tabindex="-1" single>
                  <option value="">Select Topic</option>
                  <% for(topic of topics) { %>
                  <option value="<%=topic._id%>"><%=topic.name%></option>
                  <% } %>
                </select>
              </li>
              <li class="filter-col">
                <select class="form-control" id="status" tabindex="-1" single>
                  <option value="">Select Status</option>
                  <option value="1">Active</option>
                  <option value="0">Deactive</option>
                </select>
              </li>
              <li class="filter-col filter-col-btn">
                <button class="btn theme-btn filter">Filter</button>
                <button class="btn theme-btn reset">Reset</button>
              </li>
            </ul>
          </div>
          <div class="x_title tab_justify_between">
            <h2 class="title-text mb-0 tab_width_auto">Main Topics List</h2>
            <ul class="right-btns tab_width_auto">
              <li>
                <a
                  href="./topics/create"
                  class="btn theme-btn"
                  data-toggle="tooltip"
                  rel="tooltip"
                  data-placement="top"
                  title="Add Topic"
                  >+ Add Topic</a
                >
              </li>
            </ul>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-sm-12">
                <div class="card-box table-responsive">
                  <table
                    id="topicTable"
                    class="table table-striped table-bordered dt-responsive nowrap"
                    cellspacing="0"
                    width="100%"
                  >
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./index_script'); %>