<div class="right_col mt-sm-3" role="main">
    <div class="max-w-1440">
        <% if(loggedUserRole==1){ %>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="stcard-box">
                    <span class="shade5">
                        <%=learningContentObject.total%>
                    </span>
                    <h3 class="title-text mb-0">Total</h3>
                    <img src="/images/favicon-32x32.png" class="hidden-bg">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="stcard-box">
                    <span class="shade1">
                        <%=learningContentObject.active%>
                    </span>
                    <h3 class="title-text mb-0">Active</h3>
                    <img src="/images/favicon-32x32.png" class="hidden-bg">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="stcard-box">
                    <span class="shade3">
                        <%=learningContentObject.deactive%>
                    </span>
                    <h3 class="title-text mb-0">Deactive</h3>
                    <img src="/images/favicon-32x32.png" class="hidden-bg">
                </div>
            </div>
        </div>
        <% } %>
        <div class="card-block">
            <div class="filter_top">
                <h2 class="title-text">Filter Learning Contents</h2>
                <ul class="filter-row filter_row_break">
                    <li class="filter-col">
                        <select class="form-control select2" id="grades" tabindex="-1" single>
                            <option value="">Select Grade</option>
                            <% for(grades of grades) { %>
                                <option value="<%=grades.id%>">
                                    <%=grades.name%>
                                </option>
                                <% } %>
                        </select>
                    </li>
                    <li class="filter-col">
                        <select class="form-control select2" id="topics" tabindex="-1" single>
                            <option value="">Select Main Topic</option>
                            <% for(topic of topics) { %>
                                <option value="<%=topic.id%>">
                                    <%=topic.name%>
                                </option>
                                <% } %>
                        </select>
                    </li>
                    <li class="filter-col">
                        <select class="form-control select2" id="subTopic" tabindex="-1" single>
                            <option value="">Select Sub Topic</option>
                        </select>
                    </li>
                    <li class="filter-col">
                        <select class="form-control select2" id="status" tabindex="-1" single>
                            <option value="">Select Status</option>
                            <option value="1">Active</option>
                            <option value="0">Deactive</option>
                        </select>
                    </li>
                    <li class="filter-col filter-col-btn">
                        <button class="btn theme-btn filter">Filter</button>
                        <button class="btn theme-btn reset">Reset</button>
                    </li>
                </ul>
            </div>
            <div class="flex-panel">
                <div class="setting_voucher">
                    <h2 class="title-text mb-0">Contents List</h2>
                    <h6 class="mb-0"><span class="total-count">Total Courses: <span class="total-count-number"></span></span></h6>
                </div>
                <div class="course-search">
                    <div class="input-group mb-0 input-search">
                        <input type="search" name="search" id="search" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="myContent">
                    <ul class="course-list mt-0">

                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="pagination mb-0 justify-content-center justify-content-md-end">
                        <input type="hidden" name="offset" id="offset" value="0">
                        <li><span class="showing-item">Showing <span id="CurrentPageNumber">1</span> of <span
                                    id="totalRecords">2</span>
                        </li>
                        <li class="page-item previous-btn">
                            <a class="page-link paging" data-type="prev"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li class="page-item current"><a class="page-link">1</a></li>
                        <li class="page-item next-btn">
                            <a class="page-link paging" data-type="next"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./index_script'); %>